main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

body {
  background: #fff0f0;
}

.header .container-fluid {
  background: #fff0f0;
  height: auto;
}

.logo-up {
  /* position: absolute;
  width: 181.09px;
  height: 45.78px;
  left: 608.92px;
  top: 8.8px; */
  font: normal normal 30.9057px/36px Roboto;
  letter-spacing: 0.4em;
  color: #835858;
}

.raneda-text {
  text-align: center;
  font: normal normal 30.9057px/36px Roboto;
  letter-spacing: 0.4em;
  color: #835858;
}

.hairMakeup {
  text-align: center;
  font: normal normal 11.5896px/15px "Great Vibes";
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #835858;
}

.shopping-cart {
  text-align: end;
}

/* .list {
  color: black;
  text-decoration: none;
  text-align: center;
} */

/* .an {
  color: black;
  text-decoration: none;
  font: normal normal 9.65802px/11px Raleway;
  letter-spacing: 0.505em;
} */

.contact-body {
  margin: 2% auto auto;
  width: 50%;
  padding: 1.5%;
  background-color: #fff0f0;
}

.contact-body P {
  font: normal normal 38.4194px/38px "Josefin Sans";
  color: #686d76;
}

.contact-body-text {
  font: normal normal 12.4806px/15px Montserrat;
  padding-bottom: 1%;
  color: #686d76;
}

/* SHOP STYLING */

.discountbanner {
  width: 54%;
  background-color: #ebd4d4;
  text-align: center;
}
